<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{#    show the bloglist from table #}
        <table border="1">
             <tr>
                 <th> title </th>
                 <th>published date </th>
             </tr>
            {% for blog in bloglist %}
                <tr>
                    <td> <a href="{% url 'blogdetail' blog.id %}">{{ blog.title }}</a> </td>
                    <td>{{ blog.published_date }}</td>
                </tr>
            {% endfor %}
        </table>
</body>
</html>