{% load bootstrap3 %}
<html>
<head>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <style type="text/css">
        body {
            padding: 10px;
        }
    </style>
    <script>
        $(document).ready(function () {
            console.log("Page loaded");
            $("#id_write_message").change(function () {
               console.log($(this).prop('checked'));
                if($(this).prop('checked')){
                    // show messagebox
                    $("#id_message").show();
                } else {
                    // hide
                     $("#id_message").hide();
                }

            });
            $("#id_phone").change(function () {
                console.log($(this).val());
                var data = $("#id_phone").val();
                if(isNaN(data)){
                    alert("this is not number");
                }
            })
        });
    </script>
</head>
<body>
<form method="post" novalidate>
    {% csrf_token %}
    {% bootstrap_form form %}
    {#    <button type="submit">Submit</button>#}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
        </button>
    {% endbuttons %}
</form>
</body>
</html>